select {
    background-color: white;
    border-color: lightblue;
    border-style: solid;
border-radius: 10%;
padding: 0.7% 1%;
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
}
select:focus:hover {
    background-color: lightgray;
}
button{
    background-color: white;
    border-color: lightblue;
    border-style: solid;
border-radius: 10%;
padding: 0.7% 1%;
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
}
button:focus {
    background-color: lightgray;
}
button:hover, select:hover {
    cursor: pointer;
}
div {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

    padding:  5px;
}
div.outer_box{
    text-align: center;

}
div.inner_box{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}
.results{
    color:red;
    
}

.subresults{
    font-weight: bold;
}

.numresults{
    font-style: italic;
}
.call{
font-size: 1.5em;
text-align: center;
}
input{
    width:75%;
}
#wages_table table { border-collapse: collapse; text-align: left; width: 50%;} 
#wages_table {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
td, th { padding: 3px 10px; width: 10%;}
#wages_table table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } 
#wages_table table thead th:first-child { border: none; }
#wages_table table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }
#wages_table table tbody td:first-child { border-left: none; }
#wages_table table tbody tr:last-child td { border-bottom: none; }

#safari_error {
    font-size: 70%;
    font-style: italic;

}
#calc_info {
    font-size: 90%;
    font-style: italic;

}